/** @format */

.Weather {
  font-family: arial, sans-serif;
	margin-bottom: 10px;
	padding: 30px;
	border: 1px solid #202124;
	border-radius: 4px;
}
.Weather li {
	list-style: none;
}
.Weather ul {
	padding: 0;
}
.Weather .temperature {
	line-height:64px;
	font-weight:400px;
	font-size: 64px;
	margin-left: 5px;
}
.Weather .unit {
	color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}


.Weather canvas {
	margin: 10px auto;
}
