.WeatherForecast{
  text-align: center;
}
.WeatherForecast-temperature-min{
  opacity: 0.6;
  margin-left: 3px;
}
.WeatherForecastBox{
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  background-color: black;
  opacity: 0.6;
}
