/** @format */

.Weather {
	color: #ffffff;
	font-size: medium;
	font-family: "Poppins", sans-serif;
	margin-bottom: 10px;
	padding: 30px;
	border: 1px solid white;
	border-radius: 8px;
	background: url(./images/10.jpg);
	background-size: cover;
	background-position: center;
}
.Weather li {
	list-style: none;
}
.Weather ul {
	padding: 0;
}
.Weather .temperature {
	line-height: 64px;
	font-weight: 400px;
	font-size: 64px;
	margin-left: 5px;
}
.Weather .unit {
	font-size: 16px;
	font-weight: 400;
	position: relative;
	line-height: 1;
	top: -34px;
}

.Weather canvas {
	margin: 10px auto;
}


