/** @format */

.Weather {
	margin-bottom: 10px;
	padding: 30px;
	border: 1px solid #202124;
	border-radius: 4px;
}
.Weather li {
	list-style: none;
}
.Weather ul {
	padding: 0;
}
.Weather .temperature {
	line-height:64px;
	font-weight:400px;
	font-size: 64px;
}
